.container .start {
  position: absolute;
  width: 1000px;
  height: 500px;
  top: 0px;
  left: 0px;
  background: url(../img/intro/inicio.svg);
  font-family: "Patrick Hand", cursive;
}
.container .start .close_session a {
  position: absolute;
  right: 0%;
  text-align: center;
  color: white;
  top: -25px;
}
.container .start .greeting {
  position: absolute;
  left: 50%;
  width: 1000px;
  text-align: center;
  margin-left: -500px;
  color: white;
}
.container .start .greeting .profile_user_img {
  border-radius: 100%;
  margin-left: 10px;
  width: 30px;
}
.container .start .levels {
  float: left;
  position: relative;
  width: 33.33%;
  height: 300px;
  margin-top: 200px;
  text-align: center;
}
.container .start .levels .point {
  position: absolute;
  top: -120px;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  color: white;
  font-size: 20px;
}
.container .start .levels .btn-center {
  display: flex;
  justify-content: center;
}
.container .start .levels .btn-center .btn-start {
  display: block;
  width: 100px;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  background: #131c17;
  color: white;
  font-size: 20px;
  border-radius: 10px 0 10px 0;
  font-family: "Patrick Hand", cursive;
  cursor: pointer;
}
.container .start .levels .btn-center :hover {
  width: 120px;
  margin: 15px 0;
  transition: all 0.1s;
}
.container .start .levels .btn-center :active {
  background: green;
}
.container .start .levels .points {
  background: rgba(0, 0, 0, 0.8);
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  color: yellow;
  height: 170px;
}
.container .start .levels .points h2 {
  margin-bottom: 0px !important;
  text-align: center;
}
.container .start .levels .points ul {
  padding-left: 0px !important;
}
.container .start .levels .points ul li {
  display: inline-block;
  width: 30%;
  margin: 20px 2px 5px 2px;
}
.container .start .levels .points ul li img {
  border-radius: 100%;
  width: 30px;
}
.container .start .levels .points ul li h3 {
  font-weight: 100;
  color: white;
  margin-bottom: 0px !important;
  text-align: center;
}
.container .start .levels .points ul li h2 {
  font-weight: 100;
  margin-bottom: 0px !important;
  text-align: center;
}
