* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #172025;
  background-image: url(../img/intro/back.svg);
  background-repeat: repeat-x;
  background-position: top;
  overflow-y: hidden;
}

/*=============================================
Frame
=============================================*/
.frame {
  position: absolute;
  width: 1060px;
  height: 560px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 5px 10px black;
  background: #172025;
  top: -30px;
  left: 50%;
  margin-left: -530px;
}

/*=============================================
Container
=============================================*/
.container {
  position: relative;
  margin: 5vh auto;
  width: 1000px;
  height: 500px;
  background: white;
}

/*=============================================
CREDITS
=============================================*/

footer {
  position: relative;
  padding: 8px;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
span {
  color: #fff;
}

/* footer a {
  color: white;
} */
