.container {
  .start {
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 0px;
    left: 0px;
    background: url(../img/intro/inicio.svg);
    font-family: "Patrick Hand", cursive;

    .close_session a {
      position: absolute;
      right: 0%;
      text-align: center;
      color: white;
      top: -25px;
    }

    .greeting {
      position: absolute;
      left: 50%;
      width: 1000px;
      text-align: center;
      margin-left: -500px;
      color: white;

      .profile_user_img {
        border-radius: 100%;
        margin-left: 10px;
        width: 30px;
      }
    }

    .levels {
      float: left;
      position: relative;
      width: 33.33%;
      height: 300px;
      margin-top: 200px;
      text-align: center;

      .point {
        position: absolute;
        top: -120px;
        left: 50%;
        width: 100%;
        margin-left: -50%;
        color: white;
        font-size: 20px;
      }

      .btn-center {
        display: flex;
        justify-content: center;

        .btn-start {
          display: block;
          width: 100px;
          margin: 10px 0;
          padding: 10px;
          border: 0;
          background: #131c17;
          color: white;
          font-size: 20px;
          border-radius: 10px 0 10px 0;
          font-family: "Patrick Hand", cursive;
          cursor: pointer;
        }
        & :hover {
          width: 120px;
          margin: 15px 0;
          transition: all 0.1s;
        }
        & :active {
          background: green;
        }
      }

      .points {
        background: rgba(0, 0, 0, 0.8);
        padding: 8px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        color: yellow;
        height: 170px;

        h2 {
          margin-bottom: 0px !important;
          text-align: center;
        }

        ul {
          padding-left: 0px !important;

          li {
            display: inline-block;
            width: 30%;
            margin: 20px 2px 5px 2px;

            img {
              border-radius: 100%;
              width: 30px;
            }

            h3 {
              font-weight: 100;
              color: white;
              margin-bottom: 0px !important;
              text-align: center;
            }

            h2 {
              font-weight: 100;
              margin-bottom: 0px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }

  #lienzo {
    display: none;
    margin-left: -12px;
  }
}
